.LandingPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.CampusToggle {
    display: inline-block;
    background-color: #FFF;
    color: #25116c;
    font-size: 1.5rem;
    text-align: center;
    border: 1px solid rgba(111, 111, 111, 0.87);
    border-radius: 15px;
    margin-bottom: 0.5rem;
    padding: 0.75rem;
    width: 90%;
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
}

.CampusToggle:hover {
    background-color: #DDD;
}

.CampusSelection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.CampusSelection a{
    background-color: #EEE;
    color: #791313;
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
    border: 1px solid rgba(111, 111, 111, 0.87);
    border-radius: 15px;
    margin: 0.25rem 0;
    padding: 0.5rem 0.75rem;
    user-select: none;
    cursor: pointer;
}

.CampusSelection a:hover {
    background-color: #DDD;
}