.Toolbar {
    height: 2rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    padding: 1.5rem;
    padding-bottom: 0;
    box-sizing: border-box;
    z-index: 100;
}

/* Responsive Styling */
@media (max-width: 767.98px) {
    .Toolbar {
        justify-content: right;
    }

    .Toolbar ul {
        display: none;
    }

    .NavMenu {
        display: block;
    }
}
