.ContactPage {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row: 3/ span 3;
    font-weight: bold;


    /*margin: 8rem 30% 15% 15%;*/
}
.Content {
    background-color: rgba(255, 255, 255, 0.80);
    border-radius: 10px;
    padding: 1rem;
    margin:0 5% 0 5%;
    width:90%;
}
.ContactPage img{
  width:100%;
  margin-bottom: 1.5rem;
}
.Content h1 {
  color: #25116c;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;
}

.Content h2 {
  color: #791313;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  display: block;
}

.Content a {
  color: #791313;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  display: block;
}

/* Responsive Styling */
@media (max-width: 812.98px) {
    .ScheduleUpload {
        width: 100%;
        margin-left: 0;
    }
}
