.SignOutButton {
    display: block;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    align-items: center;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    height: 100%;
    padding: 1rem 2rem;
    box-sizing: border-box;
    user-select: none;
}

.SignOutButton:hover,
.SignOutButton:active,
.SignOutButton.active {
    color: #777;
    cursor: pointer;
}
