.Main{
  font-family: helvetica;
  width:80%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}
form{
  padding: 0px;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:100%;
}
input{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 10px;
  border-width: 0px;
  padding-left: 10px;
  padding-right: 10px;
  width:100%;
}
.SubmitButton{
  margin-left: 70%;
  width:30%;
  background-color: #00457c;
  color:#ffffff;
  font-weight: bold;
}
h3{
  color:#00457c;
  font-weight: bold;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
