.Main{
  font-family: helvetica;
}
h3{
  margin-left: 35%;
  margin-right:35%;
  width: 30%;
}
img{
  margin-left: 35%;
  margin-right:35%;
  width: 20%;
}
input{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 10px;
  border-width: 0px;
  width:80%;
  padding-left: 10px;
  padding-right: 10px;
}
.SubmitButton{
  margin-left: 50%;
  width:30%;
  background-color: #00457c;
  color:#ffffff;
  font-weight: bold;
}
h3{
  color:#00457c;
  font-weight: bold;
}
