
.FeaturePage {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row: 3 / span 3;
    font-weight:bold;
}

.FeaturePage h1 {
    color: #25116c;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
}
.Content {
    background-color: rgba(255, 255, 255, 0.80);
    border-radius: 10px;
    padding: 1rem;
    margin:0 5% 0 5%;
    width:90%;
}
#item1 {
    grid-row: 2;
}

#item2 {
    grid-row: 3;
}

#item3 {
    grid-row: 4;
}

#item4 {
    grid-row: 5;
}


.FeaturePage a {
    color: #791313;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    display: block;
}
.FeaturePage img{
  width:100%;
  margin-bottom: 1.5rem;
}
/* Responsive Styling */
@media screen and (min-width: 768px) {

}

/* Responsive Styling */
@media (max-width: 575.98px) {
    .Content {
        margin: 3rem 0 0 0;
    }
}

@media (min-width: 576px) and (max-width: 812.98px) {
    .Content {
        padding: 1rem 2rem;
    }
}
