.HomePage {
    grid-column: 2 / 5;
    grid-row: 2;
    padding: 0 25%;

}


.Content {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 0.5rem;
    margin: 15rem 0 0 0;
}

.dropbtn {
    background-color: #FFFFFF;
    color: grey;
    padding: 16px;
    padding-left: 16.25rem;
    padding-right: 16.25rem;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #FFFFFF;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

/* Responsive Styling */
@media (max-width: 575.98px) {
    .Content {
        margin: 13rem 0 0 0;
    }
}

@media (min-width: 576px) and (max-width: 812.98px) {
    .Content {
        padding: 1rem 2rem;
    }
}

@media (max-width: 812.98px) {
    .HomePage {
      grid-column: 2 / 3;
      padding: 0;
    }
}
