.HomePage {
    grid-column: 3 / 4;
    grid-row: 2;
}

.Content {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 1rem;
    margin: 5rem 0 0 0;
}

.Content h1 {
    color: #791313;
    font-size: 4rem;
    padding: 0;
    margin: 0;
}
.Content .image {
  display: inline-block;
  max-width: auto;
  margin-top: 50%;
  margin: auto;
  cursor: pointer;
}

.Content img {
  display: block;
  max-width: 100%;
  width: 55%;
  height: auto;
}

.Content .center {
  position: fixed;
  margin-top: 20%;
  margin-left: 16%;
  margin-right: 15%;
}

/* Responsive Styling */
@media (max-width: 575.98px) {
    .Content {
        margin: 3rem 0 0 0;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .Content {
        padding: 1rem 2rem;
    }
}
