.App {
    background-color: #999;
    background-image: url('./assets/images/campus.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: grid;
    grid-template-columns: 5% 30% 22% 30% 5%;
    grid-template-rows: 3.5rem auto 1fr;
    grid-column-gap: 2%;
    font-family: Arial, sans-serif;
}

/* Responsive Styling */
@media (max-width: 812.98px) {
    .App {
        grid-template-rows: 10% auto auto;
        grid-template-columns: 5% auto 5%;
        grid-column-gap: 0;
    }
}
