.App {
    background: url('http://growhousegaming.com/assets/imgs/CampusNav/campus.jpg') no-repeat center fixed;
    background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-columns: 5% 30% 30% 30% 5%;
    grid-template-rows: 3.5rem auto;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

.App main {
    grid-column: 2 / 3;
    grid-row: 2;
}

/* Responsive Styling */
@media (max-width: 767.98px) {
    .App {
        grid-template-columns: 5% auto 5%;
    }
}