.App {
    background-color: #999;
    background-image: url('http://growhousegaming.com/assets/imgs/CampusNav/campus.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: grid;
    grid-template-columns: 5% 30% 30% 30% 5%;
    grid-template-rows: 3.5rem auto;
    font-family: Arial, sans-serif;
}

/* Responsive Styling */
@media (max-width: 767.98px) {
    .App {
        grid-template-columns: 5% auto 5%;
        background-position: right;
    }
}