html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

/* Responsive Styling */
<<<<<<< HEAD
@media screen and (max-width: 767px) {
  html {
    font-size: 13px;
=======
@media screen and (max-width: 992px) {
  html {
    font-size: 12px;
>>>>>>> origin/rhiller-homepage
  }
}