.ScheduleUpload {
  grid-column: 3;
  grid-row: 2;
}
.ScheduleUpload Content{  
  padding:1rem;
}
/* Responsive Styling */
@media (max-width: 812.98px) {
    .ScheduleUpload {
        width: 100%;
        margin-left: 0;
    }
}
