.Login, .Register {
    grid-column-start: 3;
    grid-column-end:6;
    grid-row: 2;
}

form {
    grid-row: 3;
    align-self: center;
}

form label {
    display: block;
    margin-bottom: 0.5rem;
    left: 0;
    font-size: 1.1rem;
    font-weight: bold;
}

form input {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 1rem;
    height: 2rem;
    font-size: 1.2rem;
}

form .SubmitButton {
    margin-top: 0.5rem;
    margin-left: 60%;
    width: 30%;
    border-radius: 4px;
    background-color: #25116c;
    color: #ffffff;
    font-weight: bold;
}

/* Responsive Styling */
@media (max-width: 812.98px) {
    .Login, .Register {
        grid-column: 2 / 3;
        width: 100%;
        margin-left: 0;
    }
}
